<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c8f6dc1-045e-4f66-9661-2183ee7d8526" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e167c1fe-23b6-4667-8c11-751518da1f58">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fba1ca64-16a3-46e9-b845-774d356d34e6" SortOrder="0">announance</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>