<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9fc086b-c7a2-4f89-8074-fec2d7a989e4" Alias="Announance (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Announance</Path>
    <Trashed Parent="a08a7188-ddc3-4c9e-aa96-8e9c4ad18f4e">true</Trashed>
    <ContentType>announance</ContentType>
    <CreateDate>2024-09-25T11:30:21</CreateDate>
    <NodeName Default="Announance (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <xmlContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bc0dd7306b314c5c9835dd31aae4f566"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "78392a16-1b1a-485b-aa98-2dec43ea3f6a",
      "udi": "umb://element/bc0dd7306b314c5c9835dd31aae4f566",
      "header": "Duyuru Başlığı",
      "date": "2024-09-24",
      "content": {
        "markup": "<p>Duyuru İçeriği</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </xmlContent>
  </Properties>
</Content>