<?xml version="1.0" encoding="utf-8"?>
<Content Key="a08a7188-ddc3-4c9e-aa96-8e9c4ad18f4e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-09-25T11:13:34</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e167c1fe-23b6-4667-8c11-751518da1f58">Home</Template>
  </Info>
  <Properties />
</Content>